<!DOCTYPE html>
<html>
  <head>
    <title>NetengineTodolist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", defer: true %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  </head>

  <body>
    <div id="flash-toast-container" class="flash-toast-container">
      <%= render "shared/flash_toast" %>
    </div>
    <%= yield %>
  </body>
</html>
